{% extends 'dashboard/base.html' %}

{% block content %}
    {% for promo in promos %}
        <div class="card">
            <h5 class="card-header">{{ promo.id }}</h5>
            <div class="card-body">
                <article class="promotion">
                    <time class="date">
                        date: {{ promo.start_date }}
                    </time>
                    <h2><a>promotion id: << {{ promo.id }} >> </a></h2>
                    <p>promotion type: {{ promo.promotion_type }}</p>
                    <p>{{ promo.text|linebreaksbr }}</p>
                </article>
                <button type="button" class="btn btn-primary">Apply promotion</button>
            </div>
        </div><br>
    {% endfor %}
{% endblock %}